* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  scrollbar-width: none;
}

body, #root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  display: flex;
}
