@import '../core/_variables';

.apexcharts-tooltip {
  color: $dark50;
}

.apexcharts-menu-item {
  color: $dark100;
  background: $gray200;
}

.apexcharts-menu {
  background: $gray200 !important;
}
