$dark500: #121212;
$primary50: #e1f1a7;
$primary100: #b5e48c;
$primary200: #99d98c;
$primary300: #76c893;
$primary400: #52b69a;
$primary500: #1a759f;
$primary600: #1e6091;
$primary700: #1e6091;
$primary800: #144367;
$dark50: #393a3a;
$dark100: #313232;
$dark200: #252525;
$dark300: #1E1E1E;
$dark400: #1A1A1A;
$dark500: #121212;
$chartGrid: #252525;
$textWhite: #A5A5A5;
$gray200: #c3c3c3;
$gray300: #b3b3b3;
$chartGreen: #05C589;
$chartAqua: #07AABB;
$chartPurple: #6A3DB5;
$chartRed: #F6373B;
$chartDarkBlue: #0258CA;
$chartYellow: #F9AA01;
$primaryYellow: #F9AA01;
$chartOrange: #FE711F;
$white: #e5e5e5;
$primaryBlue: #0181ff;
$primaryGreen: #05C589;
$primaryRed: #F6373B;
$primaryBg: #001724;
